POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ORDER_DB_NAME=orderdb
INVENTORY_DB_NAME=inventorydb
PAYMENT_DB_NAME=paymentdb
SAGA_DB_NAME=sagadb

ORDER_DB_PORT=5432
INVENTORY_DB_PORT=5433
PAYMENT_DB_PORT=5434
SAGA_DB_PORT=5435
KAFKA_PORT=9092
KAFKA_UI_PORT=8085
